@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

:root {
  --primary-text-color: #141414;
  --secondary-text-color: #50a028;
  --light-text-color: #fff;
  --main-background-color: #eaf5c5;
  --shadow: rgba(0, 0, 0, 0.05);
  --box-shadow: rgba(0, 0, 0, 0.25);
  --background-overlay: linear-gradient(
    rgba(0, 118, 118, 0.8),
    rgba(0, 118, 118, 0.8)
  );
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-text-color);
  border-radius: 100px;
}

.Home {
  min-height: 100vh;

}

.spacer{
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.PageNotFound{
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #eaf5c5;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.PageNotFound__title{
  font-size: 4rem;
  color: var(--primary-text-color);
  text-align: center;
}

.PageNotFound__link{
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}

.PageNotFound__img-container{
  width: 300px;
  height: 300px;
  position: relative;
}

.NotFound-img{
  object-fit: contain;
}

.Loader{
  margin: 0 auto;
  width: 50vw;
  height: 50vh;
  background-color: white;
}